@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/quicksand.ttf") format("truetype");
}

::-moz-selection {
  background: rgb(192, 192, 192);
}

::selection {
  background: rgb(192, 192, 192);
}

body{
  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
  font-family: "Quicksand";
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.textarea_data_column {
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
  opacity: .5;
  border: 2px solid rgb(51, 51, 51);
}

.textarea_data_column:focus{
  outline: none;
}

.stylized_button {
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #3200e6;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-family: quicksand;
  padding: 16px;
}

.stylized_button:hover{
  outline: 2px solid rgb(42, 42, 42);
}

.link_button {
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background: none;
}

.link_button:hover{
  font-weight: bold;
}

.output_log{
  border: 1px solid black;
  width: 25%;
  margin-top: 50px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(255, 255, 255);
  text-align: start;
  max-height: 450px;
  overflow-y: scroll;
  opacity: 1;
}

.input_output_container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.vertical_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg_soft_green {
  background-color: rgb(169, 208, 42);
}

.bg_soft_orange {
  background-color: rgb(244, 177, 131);
}

.bg_soft_blue {
  background-color: rgb(142, 169, 219);
}

.bg_soft_yellow {
  background-color: rgb(255, 217, 102);
}

.bg_white {
  background-color: white;
}

.bg_grey {
  background-color: rgb(93, 93, 93);
}

.box_meters {
  user-select: none;
  font-size: 22px;
  padding: 5px;
  width: 120px;
  border: 1px solid rgb(36, 36, 36);
}

.box_info {
  user-select: none;
  font-size: 22px;
  padding: 5px;
  width: 220px;
  border: 1px solid rgb(36, 36, 36);
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0%;
  left: 0%;
  background-color: #3200e6;
  height: 30px;
  width: 100%;
  color: white;
}

.footer {
  position: fixed;
  z-index: 100;
  bottom: 0%;
  left: 0%;
  background-color: #3200e6;
  height: 30px;
  width: 100%;
  color: white;
  padding-top: 10px;
}

.span_mission {
  display: block;
  background-color: rgb(67, 67, 68);
  width: 100%;
  text-align: center;
  color: white;
}

.span_total {
  display: block;
  background-color: white;
  width: 100%;
  text-align: center;
  color: black;
}

.sub_span_mission {
  display: block;
  background-color: rgb(67, 67, 68);
  width: 100%;
  text-align: center;
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.averages_missions_container {
  margin: 0 auto;
  max-width: 400px;
  width: 500px;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 30px;
}

.sub_mission_container {
  display: flex;
  width: 50%;
  flex-direction: column;
}

@media (max-width: 510px) {
  .navbar{
    height: 50px;
  }
}

@media (max-width: 680px) {
  .output_log{
    display: none;
  }
  .input_output_container{
    align-items: center;
    flex-direction: column;
  }
}