::-moz-selection {
  background: rgb(192, 192, 192);
}

::selection {
  background: rgb(192, 192, 192);
}

body{
  /* background-image: url('./assets/background.png');
  background-size: cover; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dee_span {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;
  animation: scaling 4s linear;
}

@keyframes scaling {
  0%{
    transform: scale(1, 1) translateX(-50%);
  }
  100%{
    transform: scale(3, 3) translateX(-15%);
    display: none;
  }
}

.textarea_data_column {
  height: 400px;
  margin: 20px;
  resize: none;
  border-radius: 5px;
  /* box-shadow: 7px 7px 10px rgb(255, 235, 189); */
  font-size: 18px;
  opacity: .7;
  border: 2px solid rgb(51, 51, 51);
}

.textarea_data_column:focus{
  outline: none;
}

.stylized_button {
  border: 2px solid rgb(81, 81, 81);
  color: rgb(48, 48, 48);
  background-color: rgb(253, 253, 253);
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: .2s;
  border-radius: 5px;
}

.stylized_button:hover{
  background-color: rgb(255, 229, 168);
  transition: .2s;
}

.output_log{
  border: 1px solid black;
  width: 25%;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(222, 222, 222);
  text-align: start;
  max-height: 450px;
  overflow-y: scroll;
}

.input_output_container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bg_soft_green {
  background-color: rgb(169, 208, 42);
}

.bg_soft_orange {
  background-color: rgb(244, 177, 131);
}

.bg_soft_blue {
  background-color: rgb(142, 169, 219);
}

.bg_soft_yellow {
  background-color: rgb(255, 217, 102);
}

.bg_white {
  background-color: white;
}

.box_meters {
  user-select: none;
  font-size: 22px;
  padding: 5px;
  width: 120px;
  border: 1px solid rgb(122, 122, 122);
}

.box_info {
  user-select: none;
  font-size: 22px;
  padding: 5px;
  width: 220px;
  border: 1px solid rgb(122, 122, 122);
}